[submodule "include/YSI"]
	path = include/YSI
	url = https://github.com/Misiur/YSI-Includes
[submodule "resources/Streamer Plugin"]
	path = resources/Streamer Plugin
	url = https://github.com/samp-incognito/samp-streamer-plugin
[submodule "resources/ColAndreas"]
	path = resources/ColAndreas
	url = https://github.com/Pottus/ColAndreas
[submodule "resources/FCNPC"]
	path = resources/FCNPC
	url = https://github.com/Open-GTO/FCNPC
[submodule "resources/Audio Plugin/Client"]
	path = resources/Audio Plugin/Client
	url = https://github.com/samp-incognito/samp-audio-client-plugin
[submodule "resources/Audio Plugin/Server"]
	path = resources/Audio Plugin/Server
	url = https://github.com/samp-incognito/samp-audio-server-plugin
[submodule "Crash Detect"]
	path = Crash Detect
	url = https://github.com/Zeex/samp-plugin-crashdetect
[submodule "resources/CrashDetect"]
	path = resources/CrashDetect
	url = https://github.com/Zeex/samp-plugin-crashdetect
