[submodule "include/YSI"]
	path = include/YSI
	url = https://github.com/Misiur/YSI-Includes
[submodule "resources/Streamer Plugin"]
	path = resources/Streamer Plugin
	url = https://github.com/samp-incognito/samp-streamer-plugin
[submodule "resources/ColAndreas"]
	path = resources/ColAndreas
	url = https://github.com/Pottus/ColAndreas
[submodule "resources/FCNPC"]
	path = resources/FCNPC
	url = https://github.com/Open-GTO/FCNPC
[submodule "resources/Audio Plugin/Client"]
	path = resources/Audio Plugin/Client
	url = https://github.com/samp-incognito/samp-audio-client-plugin
[submodule "resources/Audio Plugin/Server"]
	path = resources/Audio Plugin/Server
	url = https://github.com/samp-incognito/samp-audio-server-plugin
[submodule "resources/CrashDetect"]
	path = resources/CrashDetect
	url = https://github.com/Zeex/samp-plugin-crashdetect
[submodule "resources/YSF - kurta999"]
	path = resources/YSF - kurta999
	url = https://github.com/kurta999/YSF
[submodule "resources/YSF - IS4"]
	path = resources/YSF - IS4
	url = https://github.com/IllidanS4/YSF
[submodule "resources/Pawn.CMD"]
	path = resources/Pawn.CMD
	url = https://github.com/urShadow/Pawn.CMD
[submodule "resources/Pawn.Regex"]
	path = resources/Pawn.Regex
	url = https://github.com/urShadow/Pawn.Regex
[submodule "resources/Socket"]
	path = resources/Socket
	url = https://github.com/pBlueG/Socket
[submodule "resources/StrickenKid-MySQL"]
	path = resources/StrickenKid-MySQL
	url = https://github.com/eider-i128/StrickenKid-MySQL
[submodule "resources/IRC Plugin"]
	path = resources/IRC Plugin
	url = https://github.com/samp-incognito/samp-irc-plugin
[submodule "resources/Texture Studio"]
	path = resources/Texture Studio
	url = https://github.com/Pottus/Texture-Studio
